#invoice{
		font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
		font-size:12px;
		line-height:18px;
		clear: both;
}
#invoice div.date{
		margin-top: 10px;
		padding: 8px; 
		clear: both;		
} 
#invoice input{
		font-size: 13px;		
		width: 80px;		
}
#invoice label{
		float: left;
		width: 100px;
		text-align: right;
		margin-right: 10px;
		vertical-align: bottom;
		padding-top: 7px;
}
#invoice div.date{       
		width: 250px;  
}


.template{
		display: none;
}

#invoice div.items{
		clear: both;
		width: 600px;
}

#invoice div.item{
		clear: both;
		height: 30px;
}

#invoice .items .item .name{
		width: 200px;
		float: left;
}
#invoice .items .item input{
		float: left;
		margin-left: 8px;
		text-align: right;
}
#invoice .items .item .total{
		width: 80px;
		float: left;
		margin-left: 8px;
		text-align: right;
}