#order{
		font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
		font-size:12px;
		line-height:18px;
}
#invoice div{
		margin-top: 10px;
		binvoice: 1px dotted #ccc;
		padding: 8px; 
		clear: both;
		float:left;
		position: relative;
} 
#invoice input{
		font-size: 13px;
		float: left;
		width: 80px;		
}
#invoice label{
		float: left;
		width: 100px;
		float: left;
		width: 100px;
		text-align: right;
		margin-right: 10px;
		vertical-align: bottom;
		padding-top: 7px;
}
#invoice div.date{       
		width: 250px;  
}
#invoice div.items{
		width: 300px;
}