<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Račun demo</title>
  <link rel="stylesheet" href="demo.css"    type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="preview.css" type="text/css" media="screen" charset="utf-8">

  
  <script src="../vendor/prototype.js"																	></script>
  <script src="../vendor/haml/lib/haml.js"															></script>        
                                                        
  <script src="../lib/extensions/string.js"															></script>
  <script src="../lib/extensions/number.js"															></script>
  <script src="../lib/extensions/date.js"																></script>
                                                        
  <script src="../lib/inna.js"	   																			></script>                                                                                                                                             
  <script src="../lib/key_value_coding.js"															></script>
  <script src="../lib/object_binder.js"																	></script>
  <script src="../lib/collection_binder.js"															></script>

  <script src="../lib/binders/base_binder.js"														></script> 
  <script src="../lib/binders/string_binder.js"													></script> 
  <script src="../lib/binders/integer_binder.js"												></script> 
  <script src="../lib/binders/date_binder.js"														></script> 
  <script src="../lib/binders/currency_binder.js"												></script>
  <script src="../lib/binders/select_binder.js"  												></script>
  <script src="../lib/binders/template_binder.js"  												></script>
  <!-- <script src="../lib/binders/add_remove_class.js"			></script> -->
  <!-- <script src="../lib/binders/select.js"								></script> -->
  <!-- <script src="../lib/binders/template.js"							></script> -->
  <!-- <script src="../lib/binders/visible.js"							></script> -->
                                                                                         
  <script src="./app/racun.js"																					></script> 
  <script src="./app/stavka.js"																					></script> 
  <script src="./app/racun_controller.js"																></script>    
</head>  
<body>

<textarea id="racun_stavka_template">
%tr
  %td
    %input{property:"naziv", class="stavka_naziv"}
  %td
    %input{property:"kolicina", class="stavka_kolicina"}
  %td
    %input{property:"cijena", class="stavka_cijena"}
  %td
    %select{property:"pdvPostotak", binderType:"select"}    
  %td{align:"right", property:"iznos", class="iznos"}       
  %td
    %a{href:"#", action:"remove"}="briši"
</textarea>
<textarea id="racun_stavka_preview_template">
%li{class:"stavka"}
  %span.opis{property:"naziv"}
  %span.kolicina
    %span{property:"kolicina"}
    %span{property:"jedinicaMjere"}
  %span.cijena{property:"cijena"}
  %span.iznos{property:"iznos"}
</textarea>                                                   

<textarea id="racun_porezi_preview_template">
:for porez in porezi
  %p.pdv
    %span.key=porez.key + "% "
    %span.value=porez.value.toCurrency()
</textarea>


  <div id="template_racun_edit" >
    <div class="datum">          
      <label>datum</label>        <input type="text" property="datum"> 
      <label>rok plaćanja</label> <input type="text" property="rokPlacanja" binderType="integer">
      <label>dospijeće</label>    <span property="valuta"> </span>
    </div> 

    <div class="partner">
      <label>naziv</label><input type="text" property="partner.naziv"> <br/>
      <label>adresa</label><input type="text" property="partner.adresa"> <br/>
      <label>porezni broj</label><input type="text" property="partner.porezniBroj" binderType="string">
    </div>
        
    <div class="stavke">
    <table border="0">    
      <thead>
        <tr>
          <th>opis</th>
          <th>količina</th>
          <th>cijena</th>
          <th>pdv</th>
          <th>iznos</th>
        </tr>
      </thead>         
      <tbody collection="stavke" template="racun_stavka_template">  
     </tbody>
      <tfoot>
        <tr>
          <td colspan="4" align=right>osnovica</td>
          <td align=right property="osnovica" class="iznos"></td>
        </tr>
        <tr>
          <td colspan="4" align=right>pdv</td>            
          <td align=right property="pdv" class="iznos"> </td>
        </tr>
        <tr>
          <td colspan="4" align=right>ukupno</td>
          <td align=right property="iznos" class="ukupno"> </td>
        </tr> 
      </tfoot>
    </table>            
    <a action="addStavka" href="#">nova stavka</a>
    </div>            
  </div>
  
<div id="template_racun_preview">   
  
<div class="container"> 
  <div class="racun_ispis">   
    <div class="head">
      <div class="logo">
        <h1 class="logo">minus5 d.o.o.</h1>
      </div>
      <div class="detalji">
        <div class="left">
          <p>Broj računa</p>
          <p>Datum</p>
          <p>Dospjeće</p>
        </div>
        <div class="right invoice_text_light">
          <p property="broj" binderType="string">???</p>
          <p property="datum"></p>
          <p><span property="valuta"></span> (<span property="rokPlacanja" binderType="integer"></span> dana)</p>
        </div>   
      </div>                       
    </div>    
 
    <div class="adrese">
      <div class="kupac">
        <p><strong property="partner.naziv"></strong></p>
        <p property="partner.adresa"><%= @racun.partner.adresa %></p>
        <p property="partner.mjesto"><%= @racun.partner.mjesto %></p>
        <p>Porezni Broj: <span property="partner.porezniBroj" binderType="string"></span></p>
      </div>
      <div class="prodavac">
        <p><strong>minus5 d.o.o.</strong></p>
        <p>Stupinička 10</p>
        <p>10000 Zagreb</p>
        <p>Porezni Broj: 123456789</p>
      </div>
    </div>
  
    <div class="stavke">
      <ul>
        <li class="header">
          <span class="opis">Opis</span>
          <span class="kolicina">Količina</span>      
          <span class="cijena">Cijena</span>
          <span class="iznos">Iznos</span>
        </li>            
        <span collection="stavke" template="racun_stavka_preview_template">
       </span>
      </ul>    
    
      <div class="total">
        <div class="left">          
          <p>Osnovica</p>
          <p>PDV</p>
          <p class="ukupno">Iznos</p>
        </div>
        <div class="right">          
          <p property="osnovica"></p>
          <p property="porezi" binderType="template" template="racun_porezi_preview_template"></p>
          <p class="ukupno" property="iznos"></p>
        </div>
      </div>
    </div>
  </div> 
</div>   
</div>
        
  <script type="text/javascript" charset="utf-8"> 
    var racun = {
      broj: 123,
      pdv: 10, 
      datum: "2008-08-16T13:28:11Z", 
      stavke: 
      [
        {naziv: "stavka 1", kolicina:100, cijena:1.1, pdvPostotak: 0}, 
        {naziv: "stavka 2", kolicina:200, cijena:2.1, pdvPostotak: 5},
        {naziv: "stavka 3", kolicina:300, cijena:1.3, pdvPostotak: 10},
        {naziv: "stavka 4", kolicina:400, cijena:2.3}
      ],
      partner: { naziv: "Nektar", adresa: "Zugci 5a, Samoborski Novaki", porezniBroj: 12345, mjesto: "10431 Sveta Nedjelja" }
    };
    racun = new app.Racun(racun);
    var controllerEdit    = app.racunController(racun, $('template_racun_edit'));
    var controllerPreview = app.racunController(racun, $('template_racun_preview'));
  </script>         
  
</body>  
</html>