<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Racun Demo</title>                                                          
  
  <script src="../vendor/prototype.js"                    type="text/javascript"></script>        
                                                          
  <script src="../lib/extensions/string.js"               type="text/javascript"></script> 
  <script src="../lib/extensions/number.js"               type="text/javascript"></script> 
  <script src="../lib/extensions/date.js"                 type="text/javascript"></script>                                                      
                                                          
  <script src="../lib/inna.js"                            type="text/javascript"></script>                                                                                                                                             
  <script src="../lib/helpers/get_type.js"                type="text/javascript"></script>    
  <script src="../lib/models/model_base.js"               type="text/javascript"></script>  
  <script src="../lib/controllers/controller_base.js"     type="text/javascript"></script>  
  <script src="../lib/controllers/binders/binder_base.js" type="text/javascript"></script> 
  <script src="../lib/controllers/binders/string.js"      type="text/javascript"></script> 
  <script src="../lib/controllers/binders/integer.js"     type="text/javascript"></script> 
  <script src="../lib/controllers/binders/date.js"        type="text/javascript"></script> 
  <script src="../lib/controllers/binders/currency.js"    type="text/javascript"></script>     
                                                                                         
  <script src="../app/app.js"                             type="text/javascript"></script>   
  <script src="../app/models/racun.js"                    type="text/javascript"></script> 
  <script src="../app/models/stavka.js"                   type="text/javascript"></script> 
  <script src="../app/models/partner.js"                  type="text/javascript"></script>    
  <script src="../app/controllers/racun.js"               type="text/javascript"></script>    

  <link rel="stylesheet" href="demo.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="preview.css" type="text/css" media="screen" title="no title" charset="utf-8">

</head>  
<body>    
  <div id="template_racun_edit" >
    <div class="datum">          
      <label>datum</label>        <input type="text" property="datum"> 
      <label>rok plaćanja</label> <input type="text" property="rokPlacanja" binderType="integer">
      <label>dospijeće</label>    <span property="valuta"> </span>
    </div> 

    <div class="partner">
      <label>naziv</label><input type="text" property="partner.naziv"> <br/>
      <label>adresa</label><input type="text" property="partner.adresa"> <br/>
      <label>porezni broj</label><input type="text" property="partner.porezniBroj" binderType="string">
    </div>
        
    <div class="stavke">
    <table border="0">             
      <tbody collection="stavke">  
         <tr>
            <td><input type="text" property="naziv" class="stavka_naziv"></td>
            <td><input type="text" property="kolicina"></td>
            <td><input type="text" property="cijena"></td>
            <td align=right property="iznos" class="iznos"> </td> 
            <td><a href="#" action="removeStavka">brisi</a></td>
          </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" align=right>osnovica</td>
          <td align=right property="osnovica" class="iznos"></td>
        </tr>
        <tr>
          <td colspan="2" align=right>pdv</td>            
          <td><input type="text" property="pdv"></td>
          <td align=right property="pdvIznos" class="iznos"> </td>
        </tr>
        <tr>
          <td colspan="3" align=right>ukupno</td>
          <td align=right property="iznos" class="ukupno"> </td>
        </tr> 
      </tfoot>
    </table>            
    <a action="addStavka" href="#">nova stavka</a>
    </div>         
    
    <div>
      pdv opet  <span property="pdv"> </span>  da pokazem da jedan property mozde biti bindan na vise mjesta<br/>

      <input action="save" type="button" value="save">
    </div>
  </div>
  
<div id="template_racun_preview">   
  
<div class="container"> 
  <div class="racun_ispis">   
    <div class="head">
      <div class="logo">
        <h1 class="logo">minus5 d.o.o.</h1>
      </div>
      <div class="detalji">
        <div class="left">
          <p>Broj računa</p>
          <p>Datum</p>
          <p>Dospjeće</p>
        </div>
        <div class="right invoice_text_light">
          <p property="broj" binderType="string">???</p>
          <p property="datum"></p>
          <p><span property="valuta"></span> (<span property="rokPlacanja" binderType="integer"></span> dana)</p>
        </div>   
      </div>                       
    </div>    
 
    <div class="adrese">
      <div class="kupac">
        <p><strong property="partner.naziv"></strong></p>
        <p property="partner.adresa"><%= @racun.partner.adresa %></p>
        <p property="partner.mjesto"><%= @racun.partner.mjesto %></p>
        <p>Porezni Broj: <span property="partner.porezniBroj" binderType="string"></span></p>
      </div>
      <div class="prodavac">
        <p><strong>minus5 d.o.o.</strong></p>
        <p>Stupinička 10</p>
        <p>10000 Zagreb</p>
        <p>Porezni Broj: 123456789</p>
      </div>
    </div>
  
    <div class="stavke">
      <ul>
        <li class="header">
          <span class="opis">Opis</span>
          <span class="kolicina">Količina</span>      
          <span class="cijena">Cijena</span>
          <span class="iznos">Iznos</span>
        </li>            
        <span collection="stavke">
        <li class="stavka">
          <span class="opis"     property="naziv"></span>
          <span class="kolicina"> 
            <span property="kolicina"></span>
            <span property="jedinicaMjere"></span>
          </span>           
          <span class="cijena"   property="cijena"></span>
          <span class="iznos"    property="iznos"></span>
        </li>        
        </span>
      </ul>    
    
      <div class="total">
        <div class="left">          
          <p>Osnovica</p>
          <p>PDV <span property="pdv"></span>%</p>
          <p class="ukupno">Iznos</p>
        </div>
        <div class="right">          
          <p property="osnovica"></p>
          <p property="pdvIznos"></p>
          <p class="ukupno" property="iznos"></p>
        </div>
      </div>
    </div>
  </div> 
</div>   
</div>
        
  <script type="text/javascript" charset="utf-8"> 
    var racun = {
      broj: 123,
      pdv: 10, 
      datum: "2008-08-16T13:28:11Z", 
      stavke: 
      [
        {naziv: "stavka 1", kolicina:100, cijena:1.1}, 
        {naziv: "stavka 2", kolicina:200, cijena:2.1}
      ],
      partner: { naziv: "Nektar", adresa: "Zugci 5a, Samoborski Novaki", porezniBroj: 12345, mjesto: "10431 Sveta Nedjelja" }
    };
    var controllerEdit = new app.controllers.Racun(racun, $('template_racun_edit'));
    var controllerPreview = new app.controllers.Racun(racun, $('template_racun_preview'));
  </script>         
  
</body>  
</html>